<% include ../partials/boilerplate2 %>
<% include ../partials/header %>
<div class="addhead"><h1>ADD A NEW TO DO!<h3></div>
<div class='add'>
<form method='POST' action='/todo'>
  <input required name='title' type='text' placeholder='title' />
  <input required name='category' type='text' placeholder='category' />
  <input required name='details' type='text' placeholder='details' class='details' />
  <input type='submit' value='Submit' />
</form>
</div>

<% include ../partials/end %>
