<% include ./partials/boilerplate %>

<div class='homepage'>
  <a class ='homepage' href='/nutri/'>Nutrition Application That Will Meet
  Your Satisfaction</a>
</div>

<div class="login">
<a class="login" href='/auth/register'>Register</a>
</div>


<% include ./partials/end %>
